---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Category from '../../components/Category.astro';

const posts = (await getCollection('blog'))
    .filter((post) => post.data.category === 'Videogames')
    .sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
    );
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
				padding-top: 37px;
			}
			ul li {
				width: calc(50% - 1rem);
                min-width: 500px;
				border: 1px solid black;
				background-color: #F5F5F5;
				border-radius: 2px;
			}
			ul li * {
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				margin-top: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
				padding: 10px;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--black));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			section {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
					border: 1px solid black;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<main>
			<Header />
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										Last Updated On: <FormattedDate date={post.data.pubDate} />
									</p>
									<hr>
									<p>{post.data.description}</p>
								</a>
								<a href={`/blog/${post.id}/`}>Read More &rarr;</a>
								<Category category={`${post.data.category}`}></Category>
							</li>
						))
					}
				</ul>
				<a href="/" style="margin-bottom:100px; margin-top:20px"><u>Back</u></a>
				<br>
				<br>
				<br>
			</section>
		</main>
	</body>
</html>
